//購物車
.img-detail {
  width: 122px;
  object-fit: cover;

  @include media-breakpoint-down(sm) {
    width: 60px;
  }
}

.cart-table {
  th {
    border-top: 0;
  }

  thead {
    th:nth-child(1) {
      width: 3%;
    }

    th:nth-child(2) {
      width: 16%;

      @include media-breakpoint-down(sm) {
        width: 20%;
      }
    }

    th:nth-child(3) {
      width: 45%;

      @include media-breakpoint-down(sm) {
        width: 20%;
      }
    }

  }

  tbody {
    tr:hover {
      background: $gray-200;
    }

    td {
      padding: 0.5rem 0.25rem;
    }
  }

}
.empty{
  .run{
    transform: translateX(0);
    transition: all .2s;
    flex-wrap: nowrap;
  }
  &:hover{
    .run{
      transform: translateX(16px);
      transition: all .5s;
    }
  }
  
}
