//welldone

.well {
  height: 100vh;
  width: 100vw;
  background-image: url(https://hexschool-api.s3.us-west-2.amazonaws.com/custom/JGEAJWVfklXixeNF5MPGL54PPJ8hV3rGIVD4cgUaJ107JbNCru2k335ThctXF5odLrAhXieAkPDF22dAj5cG6zr0Em6kaVQgAGZZAvGOCqwY68jmtRUNniWYPNkAtfjR.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}

.custom-card {
  background-color: rgba(white, 0.6);
  border: none;
  position: relative;
  padding: 1.5rem;
  box-shadow: 0px 5px 35px rgba(black, 0.5);
}

.card-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(https://hexschool-api.s3.us-west-2.amazonaws.com/custom/JGEAJWVfklXixeNF5MPGL54PPJ8hV3rGIVD4cgUaJ107JbNCru2k335ThctXF5odLrAhXieAkPDF22dAj5cG6zr0Em6kaVQgAGZZAvGOCqwY68jmtRUNniWYPNkAtfjR.jpg);
    background-attachment: fixed;
    filter: blur(10px);
  }

}